.button {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.17);
  cursor: pointer;
  transition: transform 0.2s ease;
  
}

.button:hover {
  transform: scale(1.02);
  background: 
    linear-gradient(
      rgba(135, 204, 242, 0.20), 
      rgba(135, 204, 242, 0.20)
    ),
    #ffffff;
}

/*Outras resoluções*/

@media (min-width: 1440px) {
  .button {
    padding: 2rem;
  }
}

@media (min-width: 1920px) {
  .button {
    padding: 2rem;
  }
}

@media (min-width: 2560px) {
  .button {
    padding: 2.5rem;
  }
}