.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 24px 64px;
}

/* POSICIONAMENTO EXATO DOS BOTÕES */
.ponto {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
}

.ceaf {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
}

.painel {
  grid-column: 7 / span 6;
  grid-row: 1 / span 2;
}

.rh {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.sigtap {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.horus {
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
}

.sei {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

.correio {
  grid-column: 3 / span 2;
  grid-row: 4 / span 1;
}

.sga {
  grid-column: 5 / span 3;
  grid-row: 3 / span 1;
}

.transporte {
  grid-column: 5 / span 1;
  grid-row: 4 / span 1;
}

.sipac {
  grid-column: 6 / span 2;
  grid-row: 4 / span 1;
}

.glpi {
  grid-column: 8 / span 2;
  grid-row: 3 / span 2;
}

.sgh {
  grid-column: 10 / span 3;
  grid-row: 3 / span 1;
}

.intranet {
  grid-column: 10 / span 1;
  grid-row: 4 / span 1;
}

.repeps {
  grid-column: 11 / span 1;
  grid-row: 4 / span 1;
}

.tv {
  grid-column: 12 / span 1;
  grid-row: 4 / span 1;
}